.wrapper {
  display: flex;
  height: 250.92px;
  width: 546px;
}

.column1, .column2, .column3, .column4 {
  display: flex;
  flex-direction: column;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); 
}

/* Modal Content (image) */
.modalContent {
  margin: auto;
  display: block;
  width: auto;
  height: 70%;
}